<form method="post" action="{{ path('group_delete', {'id': group.id}) }}" onsubmit="return confirm('Vous ete sur de vouloir supprimer ce groupe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <button class="btn btn-danger" style="margin-bottom: 2%">Supprimer le groupe</button>
</form>
