{{ form_start(form) }}
     {{ form_row(form.name, { 'label': 'Nom du groupe :', 'attr': {'class': 'form-control'} }) }}
<div style="margin-top: 2%; margin-bottom: 2%">
     <button class="btn btn-primary" style="font-size: 14px; padding: 3px">{{ button_label|default('Enregistrer') }}</button>

</div>

{{ form_end(form) }}
