{% extends 'base.html.twig' %}

{% block title %}Modifier un groupe{% endblock %}

{% block body %}
    <h1>Modifier un groupe</h1>

    {{ include('group/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
