{% extends 'base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}
    <h1>Liste des groupes de tricks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du groupe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('group_edit', {'id': group.id}) }}" class="btn btn-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun groupes trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_new') }}">  <button class="btn btn-primary" style="font-size: 14px; padding: 3px; margin-bottom: 2%">Nouveau groupe</button>
    </a>
{% endblock %}
