<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer ce trick ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn btn-danger" style="margin-bottom: 2%">Supprimer le trick</button>
</form>
