{% extends 'base.html.twig' %}

{% block title %}Modifier le trick{% endblock %}

{% block body %}
    <h1>Modifier le trick</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
