{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
